.center {
    text-align: center;
}

div {
    width: 410px;
    height: 209px;
}

div * {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
    font-size: 10pt;
}

p {
    height: 30px;
    padding: 0.8ex 0;
    text-align: center;
    background-color: #f3f3ee;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    font-weight: bold;
}

textarea {
    height: 145px;
    resize: none;
    background-color: white;
    color: black;
    border-style: solid;
    border-width: 1px;
    border-top-width: 0;
    border-color: gray;
}

button {
    height: 32px;
    margin-top: 2px;
    font-weight: bold;
}
